# Git metadata (Huge and unnecessary for running the app)
.git
.gitignore

# GitHub Actions workflows
.github

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Local environments (NEVER copy these, Docker builds its own)
venv/
.venv/
env/

# Docker specific
Dockerfile
.dockerignore

# Sensitive files
.env